$red: #e60000;
$contWidth: 980px;
$trans: 0.6s ease;
$tsf: translate(-50%,-50%);
html, body, div, img{
  margin: 0;
  padding: 0;
  border: 0;
}
body{
  font-family: sans-serif;
}
.headerContainer{
  overflow: hidden;
  background-color: white;
  align-items: center;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 110px;
  margin: 0 auto;
  z-index: 1;
  transition: $trans;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .header{
    width: $contWidth;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    .logo{
      width: 100px;
      font-size: 45px;
      padding-left: 30px;
      color: $red;
      float: left;
      transition: $trans;
    }
    .nav{
      margin: 0 auto;
      float: right;
      top: 0;
      .nav_item {
        display: inline-block;
        text-align: center;
        padding-top: 45px;
        width: inherit;
        margin-right: 10px;
        font-size: 12px;
        border-top: 4px solid white;
        transition: $trans;
        cursor: pointer;
        &:hover{
          border-top: 4px solid $red;
          a{
            color: #181818;
          }
        }
        a{
          text-decoration: none;
          color: #C0C0C0;
          font-weight: bold;
          transition: $trans;
        }
      }
      .social{
        float: right;
        padding-top: 45px;
        padding-left: 10px;
        transition: $trans;
        .icon{
          margin-left: 5px;
        }
      }
    }
  }
}
.sliderContainer{
  align-items: center;
  margin: 0 auto;
  position: relative;
  .slider{
    display: none;
    .sliderImage{
      display: block;
      width: 100%;
      position: relative;
      border-bottom: 5px solid $red;
    }
    .caption{
      position: absolute;
      text-align: center;
      align-self: center;
      width: $contWidth;
      top: 50%;
      left: 50%;
      transform: $tsf;
      h1{
        width: 100%;
        color: white;
        font-size: 40px;
      }
      p{
        width: 100%;
        font-size: 21px;
        color: grey;
      }
      .info{
        background-color: $red;
        color: white;
        font-size: 15px;
        border-radius: 5px;
        margin-top: 10px;
        border: none;
        font-weight: bold;
        height: 40px;
        width: 200px;
        cursor: pointer;
      }
    }
  }
  .fade {
    animation-name: fade;
    animation-duration: 1s;
  }
  @keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
  }
  .prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    border-radius: 0 3px 3px 0;
    .arrows{
      width: 30px;
      height: 30px;
      color: #909090;
      position: absolute;
      transition: $trans;
      &:hover{
        color: white;
      }
    }
    .pr{
      border-bottom: 2px solid;
      border-left: 2px solid;
      transform: rotate(45deg);
      left: 50px;
    }
    .ne{
      border-bottom: 2px solid;
      border-left: 2px solid;
      transform: rotate(-135deg);
      right: 50px;
    }
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .dotsContainer{
    top: 80%;
    left: 50%;
    transform: $tsf;
    position: absolute;
    .dot {
      cursor:pointer;
      height: 13px;
      width: 13px;
      margin: 0 3px;
      display: inline-block;
      background-color: #909090;
      border-radius: 50%;
      box-shadow: inset 0 1px 1px #000000;
      transition: background-color $trans;
    }
    .active{
      background-color: white;
      box-shadow: none;
    }
  }
  .sliderBox{
    display: none;
    position: absolute;
    margin: 0 auto;
    border-radius: 5px;
    height: 130px;
    width: $contWidth;
    background-color: white;
    top: 100%;
    left: 50%;
    transform: $tsf;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .boxText{
      text-align: left;
      margin-left: 25px;
      padding: 17px 0 0 0;
      h1{
        font-size: 25px;
        margin-bottom: 0;
      }
      h3{
        color: grey;
        font-size: 15px;
        margin-top: 0;
      }
    }
    .boxInfo{
      margin: 40px 0 0 200px;
      background-color: $red;
      color: white;
      font-size: 15px;
      border-radius: 5px;
      border: none;
      font-weight: bold;
      height: 50px;
      width: 200px;
      cursor: pointer;
    }
  }
  .move{
    animation-name: moveBox;
    animation-duration: 2s;
  }
  @keyframes moveBox{
    from {left: -100%;}
    to {left: 50%;}
  }
}
.contentContainer{
  align-items: center;
  margin: 0 auto;
  position: relative;
  z-index: -10;
  background-color: #F5F5F5;
  .fixed{
    text-align: center;
    padding-top: 60px;
    h1{
      padding-top: 25px;
      color: #303030;
    }
  }
  .cont{
    width: $contWidth;
    margin: auto;
    display: flex;
    .first, .second, .third{
      width: 100%;
      .title{
        float: left;
        margin-left: 15px;
        position:relative;
        display: inline-flex;
        h1{
          margin: 0 0 20px 12px;
          color: #505050;
        }
        .icon{
          background-color: #505050;
          border-radius: 100%;
          width: 45px;
          height: 45px;
          margin: auto;
          position: relative;
          img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: $tsf;
          }
        }
      }
      .content{
        position: relative;
        padding-left: 60px;
        text-align: left;
        float: right;
        margin-bottom: 50px;
        h1{
          width: 250px;
          font-size: 15px;
          color: grey;
          margin: 0;
        }
      }
    }
  }
}
.sliderContent{
  margin: auto;
  display: inline;
  .slideTitle{
    padding-top: 50px;
    text-align: center;
    width: $contWidth;
    margin: auto;
    display: none;
    overflow: hidden;
    h1{
      color: #303030;
      display: inline-block;
      padding: 0 60px;
      position: relative;
      &:before,
      &:after {
        background: #ddd;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        top: 75%;
        width: 100%;
      }
      &:before {
        right: 100%;
      }
      &:after {
        left: 100%;
      }
    }
    p{
      margin: auto;
      color: grey;
      width: $contWidth - 100px;
      font-size: 17px;
    }
  }
  .dots{
    cursor:pointer;
    position: relative;
    height: 13px;
    width: 13px;
    background-color: #F0F0F0;
    box-shadow: inset 0 1px 1px #505050;
    border-radius: 50%;
    display: inline-block;
    top: 50%;
    left: 48%;
    transform: $tsf;
    transition: $trans;
    margin:50px 0 50px 3px;
  }
  .active{
    background: linear-gradient(to top,grey,white);
    box-shadow: none;
  }
}
.footerContainer{
  .footer{
    width: $contWidth;
    display: flex;
    position: relative;
    margin: 0 auto;
    .footerLogo, .contact, .news, .map{
      width: 100%;
      margin-left: 15px;
      h2{
        color: #303030;
      }
    }
    .contact, .news, .map{
      margin-left: 15px;
    }
    .footerLogo{
      .flogo{
        font-size: 40px;
        color: $red;
        margin: 20px 0 20px 0;
      }
      p{
        color: grey;
        margin: auto;
      }
    }
    .contact{
      .boldContact{
        font-weight: bold;
        color: #505050;
      }
      span{
        color: grey;
      }
    }
    .news{
      p, hr{
        color: grey;
      }
    }
    .map{
      a{
        text-decoration: none;
        color: grey;
        transition: $trans;
        &:hover{
          color: $red;
        }
      }
    }
  }
}
